<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Account</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Server</string>
			<key>Key</key>
			<string>Host</string>
			<key>KeyboardType</key>
			<string>URL</string>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>User Name</string>
			<key>Key</key>
			<string>UserName</string>
		</dict>
		<dict>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>IsSecure</key>
			<true/>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Password</string>
			<key>Key</key>
			<string>Password</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>119</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Port</string>
			<key>Key</key>
			<string>Port</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Identity</string>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>Words</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Full Name</string>
			<key>Key</key>
			<string>FullName</string>
		</dict>
		<dict>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Email</string>
			<key>Key</key>
			<string>EmailAddress</string>
			<key>KeyboardType</key>
			<string>EmailAddress</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Reply to</string>
			<key>Key</key>
			<string>ReplyTo</string>
			<key>KeyboardType</key>
			<string>EmailAddress</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>AutocapitalizationType</key>
			<string>Words</string>
			<key>Title</key>
			<string>Organization</string>
			<key>Key</key>
			<string>Organization</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Signature</string>
			<key>Key</key>
			<string>Signature</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Articles</string>
		</dict>
		<dict>
			<key>Titles</key>
			<array>
				<string>100 Articles</string>
				<string>250 Articles</string>
				<string>500 Articles</string>
				<string>1000 Articles</string>
				<string>2500 Articles</string>
				<string>5000 Articles</string>
			</array>
			<key>Values</key>
			<array>
				<string>100</string>
				<string>250</string>
				<string>500</string>
				<string>1000</string>
				<string>2500</string>
				<string>5000</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>On refresh, load</string>
			<key>Key</key>
			<string>MaxArticleCount</string>
			<key>DefaultValue</key>
			<string>1000</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Titles</key>
			<array>
				<string>1 day</string>
				<string>3 days</string>
				<string>1 week</string>
				<string>2 weeks</string>
				<string>4 weeks</string>
			</array>
			<key>Values</key>
			<array>
				<string>1</string>
				<string>3</string>
				<string>7</string>
				<string>14</string>
				<string>28</string>
			</array>
			<key>Title</key>
			<string>Delete older than</string>
			<key>Key</key>
			<string>DeleteAfterDays</string>
			<key>DefaultValue</key>
			<string>7</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>General</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>Version</string>
			<key>DefaultValue</key>
			<string>1.0</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Version</string>
		</dict>
	</array>
</dict>
</plist>
